.vscode/
.vs/
.venv/

# python
*.pyc
*.pyd
*~
*.bak
__pycache__/
*_wrap.cxx

# java
*.class

# matlab
*.asv

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mod

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*build*/
workspace/
test.png
*.tmp

# latex
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc